<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.board.BoardMapper">
<!-- 검색 결과를 자동으로 vo로 변환 -->
	<resultMap type="board.board.Board" id="board">
		<result property="num" column="num" />
		<result property="writer" column="writer" />
		<result property="w_date" column="w_date" />
		<result property="title" column="title" />
		<result property="content" column="content" />
	</resultMap>
	<insert id="insert" parameterType="board.board.Board">
		insert into board values(seq_board.nextval, #{writer}, sysdate, #{title}, #{content})
	</insert>
	<select id="selectAll" resultMap="board">
		select * from board
	</select>
	<select id="selectByNum" resultMap="board" parameterType="int">
		select * from board where num=#{num}
	</select>
	<select id="selectByWriter" resultMap="board" parameterType="String">
		select * from board where writer=#{writer}
	</select>
	<select id="selectByTitle" resultMap="board" parameterType="String">
		select * from board where title like #{title}
	</select>
	<update id="update" parameterType="board.board.Board">
		update board set w_date=sysdate, title=#{title}, content=#{content} where num=#{num}
	</update>
	<delete id="delete" parameterType="int">
		delete from board where num=#{num}
	</delete>
</mapper>